body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", "Tahoma", sans-serif;
}

.wrapper {
    display: block;
    margin: 0 auto;
    width: 80%;
    max-width: 1024px;
    padding-top: 40px;
    text-align: left;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    max-width: 25%;
    border-radius: 100%;
    margin-left: 50px;
}
